.header {
    display: flex;
    background-color: #1F2937;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    margin: 0 auto 0 auto;
}

.header-logo {
    justify-items: left;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    margin-left: auto;
    display: flex;
    padding: 1vw;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    width: 65%;
    background-color: #1F2937;
    display: flex;
    margin: 0 auto 0 auto;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.sub-title {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    width: 50%;
    flex: 1;
}

.hero-image {
    flex: 1;
    width: 50%;
}

.hero-image>img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;

}

#background {
    background-color: #1F2937;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -2;
}

button {
    all: unset;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px;
    border-radius: 10px;
}

body {
    margin: 0;
}

.layer2bg {
    width: 100%;
    background-color: white;
}

.layer2 {
    width: 60%;
    margin: 0 auto 0 auto;
}

.layer2title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-boxes {
    display: flex;
}

.info-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-image>img {
    height: 100px;
}

.info-subtext {
    text-align: center;
    font-size: 18px;
}

* {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;

}

.layer3bg {
    width: 100%;
    background-color: #E5E7EB;
}

.layer3 {
    width: 55%;
    margin: 0 auto 0 auto;
    padding: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quoteGiver {
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
    text-align: end;
}

.layer4 {
    width: 65%;
    border: 50px solid white;
    margin: 0 auto 0 auto;
}

.call2action {
    background-color: #3882F6;
    margin: 0 auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}

.c2abutton > div > button {
    border: 1px solid white;
    border-radius: 10px;
}

[class^="layer"] {
    padding-top: 20px;
}

.layer5 {
    display: flex;
    justify-content: center;
    color: #E5E7EB
}

.c2atext {
    flex: 3;
}

.c2atext > p:first-of-type{
    font-size: larger;
    font-weight: 800;
}

.c2abutton {
    flex: 1;
}


.call2action *:not(button){
    margin: 0;
    padding: 0;
}

